Source: ts
Section: utils
Priority: optional
Maintainer: Alex <raziel@eml.cc>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.5
Homepage: https://github.com/xenogenesi/task-spooler
Vcs-Git: https://github.com/xenogenesi/task-spooler.git

Package: ts
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fork of ts - task spooler
 The amount of jobs to run at once can be set at any time.
 .
 Each user in each system has his own job queue.
 .
 The tasks are run in the correct context (that of enqueue) from
 any shell/process, and its output/results can be easily watched.
 .
 It is very useful when you know that your commands depend on a
 lot of RAM, a lot of disk use, give a lot of output, or for
 whatever reason it's better not to run them all at the same time,
 while you want to keep your resources busy for maximum
 benfit. Its interface allows using it easily in scripts.
 .
 This package is a fork, below the upstream homepage.
 .
 ts homepage: http://vicerveza.homeunix.net/~viric/soft/ts/
